# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Environment variables
.env

# Data files
data/raw/bronze/*
data/raw/silver/*
data/raw/gold/*
!data/raw/bronze/.gitkeep
!data/raw/silver/.gitkeep
!data/raw/gold/.gitkeep

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db